
.nhsuk-hero--image {
    min-height: 320px;
}


.nhsuk-hero {
    background-color: #005eb8;
    color: #ffffff;
    position: relative;
}

.nhsuk-hero--image-description .nhsuk-hero-content {
    bottom: -248px;
}


.nhsuk-hero--image .nhsuk-hero__overlay {
    background-color: rgba(0, 0, 0, 0);
}

.nhsuk-hero--image-description .nhsuk-hero-content {
    //background-color: #ffffff;
    //color: #212b32;

    //margin-bottom: 40px;
    background: #ffffff;
    color: #212b32;
    border: 1px solid #d8dde0;
    //position: relative;
    //width: 100%;
}



.nhsuk-hero--image-description .nhsuk-hero-content {
    bottom: -148px;
    //margin-bottom: 0;
    //max-width: 27.6em;
    //padding: 32px 40px;
    //position: absolute;
    //top: auto;
}

.nhsuk-card__description {
    color: #212b32;
}