<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK homepage exploration
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS.UK homepage exploration
        <!-- <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span> -->
      </h1>

      <h2>
        Version 5
      </h2>

      <p><a href="version5/nhs-website-for-england">NHS website for England</a> </p>
      <p><a href="version5/nhs-website-for-england-reversed">NHS website for England (reversed background)</a> </p>


      <hr>

      <h2>
        Version 4
      </h2>

      <h3>Blue header</h3>
      <ul>
        <li><a href="version4/blue-background/nhs-website-for-england-tighter">NHS website for England</a> 
          <br><b>H1 heading:</b> NHS website for England
          <br><b>Strapline:</b> Find information and services to help you manage your health.
          <br><b>Header styling:</b> White text on blue header background
        </li>

        <li><a href="version4/blue-background/nhs-website-for-england-small-h1-tighter">NHS website for England (reversed heading size) - version 1</a> 
          <br><b>H1 heading:</b> NHS website for England (small)
          <br><b>Strapline:</b> Find information and services to help you manage your health. (large)
          <br><b>Header styling:</b> White text on blue header background
          <br><b>MYH styling:</b> Action links in 2 columns
        </li>

        <li><a href="version4/blue-background/nhs-website-for-england-small-h1-tighter-1column">NHS website for England (reversed heading size) - version 2</a> 
          <br><b>H1 heading:</b> NHS website for England (small)
          <br><b>Strapline:</b> Find information and services to help you manage your health. (large)
          <br><b>Header styling:</b> White text on blue header background
          <br><b>MYH styling:</b> Action links in 1 column
        </li>

        <!--
        <li><a href="version4/blue-background/were-here-for-you">We're here for you </a> 
          <br>We're here for you (heading)
          <br>Helping you take control of your health and wellbeing
          <br>Blue quote over image
        </li>
        -->
      </ul>

      <h3>Image header</h3>
      <ul>
        <li><a href="version4/image-background/nhs-website-for-england">NHS website for England</a> 
          <br><b>H1 heading:</b> NHS website for England (heading)
          <br><b>Header styling:</b> White text in blue box on image background
        </li>

        <li><a href="version4/image-background/nhs-website-for-england-small-h1">NHS website for England (reversed heading size) - version 1</a> 
          <br><b>H1 heading:</b> NHS website for England (small)
          <br><b>Strapline:</b> Find information and services to help you manage your health. (large)
          <br><b>Header styling:</b> White text in blue box on image background
          <br><b>MYH styling:</b> Action links in 2 columns
        </li>

        <li><a href="version4/image-background/nhs-website-for-england-small-h1-1column">NHS website for England (reversed heading size) - version 2</a> 
          <br><b>H1 heading:</b> NHS website for England (small)
          <br><b>Strapline:</b> Find information and services to help you manage your health. (large)
          <br><b>Header styling:</b> White text in blue box on image background
          <br><b>MYH styling:</b> Action links in 1 column
        </li>

        <!--
        <li><a href="version4/image-background/were-here-for-you">We're here for you </a> 
          <br>We're here for you (heading)
          <br>Blue quote over image
        </li>
        -->

      </ul>


<hr>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version 3 (image header)
          </span>
        </summary>
        <div class="nhsuk-details__text">
    
          <h2>Featured in separate featured section</h2>
          <ul>
            <li><a href="version3/featured-separate-section/option1a">Option 1a</a> 
              <br><b>H1 heading & strapline:</b> Unchanged - Same as live
              <br><b>Manage your health section:</b> Transactional links styled as list of action links
              <br><b>Featured section:</b> Featured section below "Manage your health" but above "Find a NHS service""
            </li>
    
            <li><a href="version3/featured-separate-section/option1a-revese-background-order">Option 1b (switched background colour order)</a> <strong class="nhsuk-tag">Preferrd option</strong>
              <br><b>H1 heading & strapline:</b> Unchanged - Same as live
              <br><b>Manage your health section:</b> Transactional links styled as list of action links
              <br><b>Featured section:</b> Featured section below "Manage your health" but above "Find an NHS service"
            </li>
          </ul>


          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Extra varitions
              </span>
            </summary>
            <div class="nhsuk-details__text">
        
              <ul>
                <li><a href="version3/featured-separate-section/option1b">Option 1b</a> 
                  <br><b>Manage your health section:</b> List of action links (List of action links is prefered styling now that "Feaured" is in its own section)
                  <br><b>Featured section:</b> Featured section below "Manage your health" and above "Find an NHS service"
                </li>
        
                <li><a href="version3/featured-separate-section/option1c">Option 1c</a> 
                  <br><b>Manage your health section:</b> List of action links (List of action links is prefered styling now that "Feaured" is in its own section)
                  <br><b>Featured section:</b> Featured section below "Find an NHS service"
                </li>
              </ul>    
        
            </div>
          </details>
  





          <h2>Featured side by side with Manage your health</h2>
          
          <ul>
            <li><a href="version3/featured-sidebyside/option2a">Option 2a</a>
              <br><b>H1 heading & strapline:</b> Unchanged - Same as live
              <br><b>Featured section:</b> Featured content in box
            </li>
    
            <li><a href="version3/featured-sidebyside/option2a-revese-background-order">Option 2a - reversed background order</a> <strong class="nhsuk-tag">Preferrd option</strong>
              <br><b>Featured section:</b> Featured content in box
            </li>

            <li><a href="version3/featured-sidebyside/option2b">Option 2b</a>
              <br><b>H1 heading & strapline:</b> Unchanged - Same as live
              <br><b>Manage your health section:</b> Manage yor health content in box
              <br><b>Featured section:</b> Featured content in box
            </li>
    
            <li><a href="version3/featured-sidebyside/option2c">Option 2c</a>
              <br><b>H1 heading & straplineg:</b> Unchanged - Same as live
              <br><b>Manage your health section:</b> Manage yor health heading and content in box
              <br><b>Featured section:</b> Featured content heading and in box        
            </li>
    
          </ul>
        </div>
      </details>


      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version 2
          </span>
        </summary>
        <div class="nhsuk-details__text">
    

          <ul>
            <li> 
              <a href="version2/nhsuk-homepage-option1">Homepage option 1</a>
    
              <br><b>H1 heading:</b> NHS website for health information and services in England
              <br><b>Header styling:</b> Blue background
            </li>

            <li>
              <a href="version2/nhsuk-homepage-option2-images">Homepage option 2 with images on cards</a>
  
              <br><b>H1 heading:</b> NHS website for health information and services in England
              <br><b>Header styling:</b> Blue background
              <br>Images on Health A-Z and Meds A-Z
            </li>


            <li>
              <a href="version2/nhsuk-homepage-option3">Homepage option 3</a>
              <br><b>H1 heading:</b> NHS website for England
              <br><b>Header styling:</b> Blue background
              <br>Find information and services to help you take control of your health and wellbeing.
            </li>

          </ul>

        </div>
      </details>



      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version 1
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <div class="nhsuk-expander-group">
            <ul>
              <li>
                <a href="version1/nhsuk-homepage3a">Featured side by side - Homepage option 3a</a> - Blue background, header text new
                <br><b>H1 heading:</b> NHS website for health information and services in England
                <br><b>Header styling:</b> Blue background
                <br>New and revised content
              </li>

              <li>
                <a href="version1/nhsuk-homepage3b">Featured side by side - Homepage option 3b</a> - Blue background, header text current
                <br><b>H1 heading:</b> We're here for you. Helping you take control of your health and wellbeing.
                <br><b>Header styling:</b> Blue background
                <br>New and revised content
              </li>

              <li>
                <b>Featured in own section - Homepage option 5 (variations)</b>
                <br><b>H1 heading:</b> We're here for you. Helping you take control of your health and wellbeing.
                <br><b>Header styling:</b> NHS image with heading text in blue quote box
                <br>Featured positioning exploration
                <br><a href="version1/nhsuk-homepage5a-1a-1featured-1third">Featured 1 module (One third)</a>
                <br><a href="version1/nhsuk-homepage5a-1b-1featured-2third">Featured 1 module (Two thirds)</a>
                <br><a href="version1/nhsuk-homepage5a-1c-1featured-2third-stacked">Featured 1 module (Two thirds stacked)</a>
                <br><a href="version1/nhsuk-homepage5a-2a-2featured-1third">Featured 2 modules (One third)</a>
                <br><a href="version1/nhsuk-homepage5a-2b-2featured-1half">Featured 2 modules (Half)</a>
                <br><a href="version1/nhsuk-homepage5a-3a-2featured-belowFAS">Featured 3 modules - below "Find a service"</a>
                <br><a href="version1/nhsuk-homepage5a-3b-2featured-aboveFAS">Featured 3 modules - above "Find a service"</a>
              </li>
            </ul>

            <!--Design Archives (where all the old versions are recorded and stored in expanders for refrence if needed)-->
  
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Version 1 variations
              </span>
            </summary>

            <div class="nhsuk-details__text">
              <ul>
                <li>
                  <a href="version1/nhsuk-homepage1a-lorem-all">Homepage option 1a</a>
                  <br>Lorem ipsum for all text
                  <br><b>H1 heading:</b> NHS website for health information and services in England
                  <br><b>Header styling:</b> Blue background
                </li>

                <li>
                  <a href="version1/nhsuk-homepage1b-lorem-all">Homepage option 1b</a>
                  <br>Lorem ipsum for all text
                  <br><b>H1 heading:</b> We're here for you. Helping you take control of your health and wellbeing.
                  <br><b>Header styling:</b> Blue background
                </li>

                <li>
                  <a href="version1/nhsuk-homepage2-lorem-featured">Homepage option 2</a>
                  <br><b>H1 heading:</b> NHS website for health information and services in England
                  <br><b>Header styling:</b> Blue background
                  <br>New and revised content, Lorem ipsum only for featured section
                </li>

                <li>

                <a href="version1/nhsuk-homepage4a-headerimage">Homepage option 4a</a> - Header image, header text current
                  <br><b>H1 heading:</b> We're here for you. Helping you take control of your health and wellbeing.
                  <br><b>Header styling:</b> NHS image with heading text in blue quote box
                  <br>New and revised content
                  <br>Health A-Z and Medicine A-Z in hub card
                </li>

                <li>
                  <a href="version1/nhsuk-homepage4b-headerimage">Homepage option 4b</a> - Header image, header text current
                  <br><b>H1 heading:</b> We're here for you. Helping you take control of your health and wellbeing.
                  <br><b>Header styling:</b> NHS image with heading text in blue quote box
                  <br>New and revised content
                  <br>Health A-Z and Medicine A-Z as normal
                </li>
              </ul>
          
            </div>
          </details>

        </div>
      </details>



        
        <!-- <p><a href="../../docs/views/templates/nhsuk-homepage">Homepage template</a></p> -->




      <!-- End of content -->

    </div>


  </div>
{% endblock %}
